<ion-view title="Alphabetical list">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">

		<h1>Word</h1>
		<button class="button button-full button-positive">
			Meaning
		</button>
		<a class="button icon-left ion-chevron-left button-calm">Back</a>
		<a class="button icon-right ion-chevron-right button-calm">Learn More</a>


		<button class="button button-block button-calm">
			Practice Vocab
		</button>

	</ion-content>

</ion-view>
