<ion-view title="Random list">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1>Random list</h1>

        <div class="bar bar-header bar-positive">
            <h1 class="title">Welcome to the random view</h1>
        </div>

        <div class="card">

            <div class="item item-divider">
                I'm a Header in a Card!
            </div>
            <div class="item item-text-wrap">
                Serrendipitous
            </div>
        </div>


    </ion-content>

</ion-view>
